.hr{
    border:1px solid #FF7100; 
    width :90%;
    margin-bottom: 30px;
}

.hr_more{
    width : 40px;
    border: 1px solid #FF7100;
    margin: 0 10px 0 10px;
}

.wrap{
    width : 1260px;
    margin : 0 auto;
}

.content_photo_row{
    width : 100%;
}

.content_title{
    width : 400px;
    height :60px;
    margin-top: 10px;
}

.content_title p{
    font-size: 50px;
    color : #ff7100 ;
    font-weight: 600;
}

.content_photo_picture_row{
    width : 100%;
    border: 1px solid rgb(255, 255, 255);
    height: 400px;
    white-space: nowrap;
}

.content_photo_container{
    width : 100%;
    position: relative;
    overflow: hidden;
}

.left{
    position: absolute;
    top : 170px;
    left : 20px;
    width : 50px;
    height : 50px;
    border-radius: 25px;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color : white;
    z-index: 10;
}

.right{
    position: absolute;
    top : 170px;
    left : 1190px;
    width : 50px;
    height : 50px;
    border-radius: 25px;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
}

.swiper-button-disabled{
    display:none;
}



.content_photo_content{
    margin-top: 50px;
    display: inline-block;
    width : 300px;
    height : 300px;
    border-radius: 10px;
    margin-left: 30px;
    background-color: #3E3E3E;
    transition: all 0.3s ease-out;
    opacity: 0.5;
    object-fit: cover;
}

.content_photo_content img{
    width: 100%;
    height: 100%;

}


.content_photo_picture_row::-webkit-scrollbar{
    display: none;
}

.content_about_row{
    position: relative;
    width : 1260px;
    height : 1000px;
}

.favorite_box{
    position: absolute;
    right : 140px;
    top : 140px;
    width : 60px;
    height : 60px;
    border-radius: 5px;
    background-color: #F39C1B;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.favorite_box:hover{
    transform: scale(1.05);
}



.like_box{
    position: absolute;
    right : 50px;
    top : 140px;
    width : 60px;
    height : 60px;
    border-radius: 5px;
    background-color: #EF9669;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.comment_like_box{
    position: absolute;
    right : 0px;
    top : 0px;
    width : 60px;
    height : 60px;
    border-radius: 5px;
    background-color: #EF9669;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
}

.like_box:hover{
    transform: scale(1.05);
}


.content_about_content{

    width : 100%;
    height: 850px;
    background-color: #FFF8F3;
    border-radius: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    float: left;
}

.about_left_content{
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    margin-left: 70px;
    height : 700px;
}

.about_info_row{
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    width : 100%;
    font-size: 25px;
    font-weight: 600;
    color : #293D67;
}

.info_icon{
    margin-right: 50px;
}

.store_bio{
    width : 400px;
    height : 200px;
    background-color: #FFBA54;
    border-radius: 40px;
    font-size: 20px;
    color : white;
    padding-left: 20px;
    padding-top : 20px;
    line-height: 50px;
    alignment: left;
}


.about_right_content{
    width : 50%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#map{
    margin-left: 40px;
    width : 500px;
    height : 500px;
}

.content_comments_row{
    width: 1260px;
    margin: 0 auto;
}

.content_comment_wrap{
    margin: 0 auto;
    width : 900px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.comment_row{
    margin-top: 50px;
    width : 900px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.comment_profile{
    margin-top : 60px;
    width : 150px;
    height : 150px;
    border-radius: 75px;
    background-color: gray;
    border: 5px solid #FFBA54;
    object-fit: cover;
    overflow: hidden;
}

.comment_profile img{
    width :100%;
    height: 100%;
}

.comment_middle{
    width: 600px;
}

.comment_user_name{
    font-size: 20px;
    font-weight: 600;
    color : #293D67;
}

.comment_content{
    width: 100%;
    background-color: #FFF8F3;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    line-height: 30px;
    font-weight: 500;
}


.comment_like{
    position: relative;
    width : 60px;
    height: 60px;
    background-color: bisque;
    margin-top : 50px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.more_button{
    font-size: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #FF7100;
    cursor: pointer;
}

.comment_write_box{
    margin-top: 60px;
    width : 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.comment_write_content{
    width : 900px;
    height : 150px;
    background-color: #FFF8F3;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    color : black;
    font-size: 18px;
    border: none;
    resize: none;
}

.comment_write_button{
    width : 120px;
    height : 150px;
    background-color: #FFDABF;
    font-size: 30px;
    color: #FF7100;
    border-radius: 10px;
    border: none;
}

.recommend_wrap{
    margin-top: 80px;
    width : 100%;
    height : 450px;
    display: block;
    white-space: nowrap;
}

.recommend_wrap::-webkit-scrollbar{
    display: none;
}

.recommend_card{
    display: inline-block;
    width : 350px;
    height : 450px;
    background-color: #3E3E3E;
    border-radius: 20px;
    background-image: url("/static/img/333417_1640610154368611.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.left_slider{
    float: left;
    display: none;
    width : 100px;
    height : 300px;
    background-color: rgb(0,0,0,0.5);
}

.right_slider{
    margin-left: 30px;
    float:left;
    width: 100px;
    height: 300px;
    background-color: rgb(0,0,0,0.5);
}

.recommend_another{
    position: relative;
    overflow: hidden;
}