.wrap{
    width : 100%;
    margin: 0 auto;
}
.banner{
    width : 100%;
    height: 720px;
    background-image: url('/static/img/d.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search_box{
    position: relative;
    width : 800px;
    height : 70px;
}

.search_box input{
    width : 770px;
    height : 70px;
    border-radius: 35px;
    border : 4px solid #FF7100;
    font-weight: 600;
    font-size: 30px;
    padding-left: 30px;
    outline: none;
}

.search_box_text{
    z-index: 10;
    position: absolute;
}

.search_box button{
    position: absolute;
    width : 200px;
    height : 78px;
    top:0;
    left : 610px;
    background-color: #FF7100;
    border-radius: 35px;
    border : none;
    font-size: 30px;
    color : white;
    font-weight: 600;
    cursor: pointer;
    z-index: 11;
}
.search_box button:hover{
    background-color: #f16c00;
}

#auto-search{
    width : 800px;
    background-color: white;
    position: absolute;
    top:25px;
    left: 5px;
    z-index: 0;
    padding-top: 60px;
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.auto-search-content{
    margin: 10px 0 0 10px;
}


.content_wrapper{
    width: 1260px;

    margin : 0 auto;
}

.recommend_row{
    position: relative;
    margin-top:  80px;
    width : 100%;
}

.recommend_title p{
    height : 50px;
    font-size: 50px;
    color: #F2A668;
    alignment: left;
    font-weight: 600;
}

.recommend_content{
    width : 1260px;
    white-space: nowrap;
    overflow-x: scroll;
    height :200px;
    overflow-y: hidden;
    margin-top: 30px;
}


.recommend_content::-webkit-scrollbar{
    display: none;
}

.left{
    position: absolute;
    top : 100px;
    left : 20px;
    width : 50px;
    height : 50px;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color : white;
    z-index: 10;
    border-radius: 25px;
}

.right{
    position: absolute;
    top : 100px;
    left : 1190px;
    width : 50px;
    height : 50px;
    border-radius: 25px;
    background-color: rgb(0,0,0,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    z-index: 10;
}

.slider_wrap{

}

.recommend_card{
    display: inline-block;
    margin:  50px 10px 0 10px;
    width: 350px;
    height: 150px;
    background-image: url("/static/img/333417_1640610154368611.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: all 0.3s ease-out;
    border-radius: 10px;
}


.swiper-button-disabled{
    display:none;
}