body{
    font-family: Cafe24SsurroundAir;
    overflow-y: scroll;
}
#main_container{
    width:1260px;
    margin:20px auto;
}
#user_wrapper{
    display: flex;
    justify-content: start;
    width:1260px;
    background-color: #f6f6f6;
}
#profile{
    width: 220px;
    height: 220px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
#image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid peru;
}
.user_desc{
    width: 700px;
    height: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    margin-left: 10px;
}
.counts{
    width: 600px;
    display: flex;
    justify-content: space-between;
}
.count{
    font-size: 22px;
}
.box_title{
    font-weight: 600;
    font-size: 30px;
    color : #ff7100;
    margin-bottom: 10px;
    margin-top: 50px;
}
#pick_contents_container{
    width:1260px;
    max-height: 1200px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;

}
#store_box{
    width:1100px;
    height: 200px;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:20px;
    border: 1px solid lightgrey;
}
#img_box{
    width:280px;
    height:180px;
    margin-left: 10px;
}
#store_img{
    align-items: center;
    width: 280px;
    height: 180px;
}
#store_desc_wrapper{
    width:800px;
    margin-left: 20px;
}
.s_name{
    font-size: 25px;
    font-weight: 600;
}
.descs{
    font-size: 18px;
    color: #888888;
    margin-top: 15px;
}
.desc-box{
    display: flex;
}
.right_desc{
    margin-left: 10px;
}
#tags{
    width:1000px;
    display:flex;
}
#tag{
    margin-top: 10px;
    background-color: #8D9CAE;
    width: 90px;
    height: 30px;
    color: white;
    line-height: 30px;
    padding-left: 5px;
}
#recommend_container{
    width:1260px;
    background-color: #f5dd5d;
    border: 1px double lightgrey;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 500px;
    }
.upper_box{
    width:1100px;
    height: 250px;
}
.box{
    margin: 30px 0 0 10px;
    position: relative;
}

.recommend_img_box{
    background-image: url("/static/img/default.png");
    width:300px;
    height:200px;
    margin:20px;
}
#recommend_img{
    width:280px;
    height:180px;
    margin:10px;
    position: relative;
    z-index: 4;
}
.recommend_descbox{
    width:280px;
    height:180px;
    margin:20px;
    top:-10px;
    left:-10px;
    position: absolute;
    z-index: 5;
    background-color: white;
    opacity: 80%;
}
.s_descs{
    font-size: 15px;
    margin:15px 0 0 10px;
    font-weight: 600;
    color: black;
}


