body{
    /*background-image: ;*/
/*야는일단 나중에*/
}
.left-words{
    font-family: Cafe24SsurroundAir;
    font-weight: bold;
    font-size: 20px;
}
#header{
    display:none;
}
#main-container{
    width: 500px;
    height: 800px;
    margin:10% auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 3px solid #060606 ;
    border-radius: 15px;
}
#logo-div{
    width: 250px;
    height: 150px;
    background-image: url("/static/img/team9_ylogo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-bottom: 40px;
}

#contents-box{
    width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.name_to_password{
    display: flex;
    margin-bottom: 15px;
}
.left-words{
    margin-right: 20px;
    width:120px;
    height: 30px;
    margin-top: 5px;

}
.input_box{
    width:250px;
    height: 25px;
    font-size: 18px;
}
.input_box:focus{
    outline: 2px solid #F39C1B;
}
.optional{
    font-family: Cafe24SsurroundAir;
    font-size: 18px;
    margin-bottom: 10px;
}
.inch-input{
    height: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    margin-left: 165px;
}
.inch-input:focus{
    outline: 2px solid #F39C1B;
}
#checkbox_wrapper{
    width: 220px;
    font-family: Cafe24SsurroundAir;
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 50px;
}
.checkbox{
    width: 20px;
    margin:0 5px 5px 25px;
}

input[type=checkbox]{/*체크박스 사이즈 조절용*/
    width: 18px;
    height: 18px;
}
#join{
    background-color: #293D67;
    border-radius: 5px;
    font-family: Cafe24SsurroundAir;
    color: white;
    font-weight: bold;
    font-size: 20px;
    width: 150px;
    height: 50px;
    margin-top: 25px;
    margin-left: 125px;
    letter-spacing: 2px;
}