<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <title>temp_home</title>
</head>
<body>
<h5>
    temp_home
</h5>
<div>

    <form action=" {% url 'storeapp:home' %}" method="post">
        {% csrf_token %}
        <input type="text" placeholder="키워드를입력하세요" name="input_food">
        <input type="submit" name="submit_food">
    </form>

    <div>
        {% if stores_POST %}
            {% for store in stores_POST %}
                <div>
                    {{ store.store_name }}는 어때요?
                </div>
            {% endfor %}

        {% else %}
            {% for store in store_GET %}
                <div>
                    {{ store.store_name }}는 어때요?
                </div>
            {% endfor %}
        {% endif %}
    </div>

</div>
</body>
</html>