<!--{#모든화면에 기초가 되는 파일#}-->
<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <title>{% block title %}Food!!{% endblock %}</title>
    <link rel="stylesheet" href="{% static "css/no.css" %}"> <!--normalizing-->
    <link rel="stylesheet" href="{% static "css/base.css" %}"> <!--css적용파일-->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script><!--jquery적용-->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    {% block head %}
    {% endblock %}
</head>

<body>
<!--헤더부분-->
<div id="header">
    <div id="logo">
        <img src="/static/img/로고%20-%20주황색버전.PNG" >
    </div>
    <div class="header_buttons">
        {% if not user.is_authenticated %} <!--로그인상황이 아닐때-->
        <i class="far fa-user-circle fa-3x"></i>
        <a class="" href="/join"> Logout </a>
    {% else %} <!--로그인이 잘 되어있을때-->
        <a class="" href="/profile">{{ user.username }}님</a>
        <a class="" href="/logout"> Logout </a>
    {% endif %}
    </div>
</div>
{% block content %}
{% endblock %}
{% if not 'sign-up.html' or not 'login.html' or not 'find-id.html' or not 'find-pw.html' %}
    {% include 'footer.html' %}
{% endif %}
    <script src="/static/js/base.js"></script> <!--js적용파일-->
    <script src="https://kit.fontawesome.com/8c1045b6d4.js" crossorigin="anonymous"></script> <!-- Fontawesome 링크-->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script> <!-- Jquery 링크 -->
{% block script %}
{% endblock %}
</body>
</html>