{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/detail.css">
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=7dbd706b8ec08ff0c7337c47a6aa4e29&libraries=services"></script>
{% endblock %}

{% block content %}
    <div class='wrap'>
        <div class='content_photo_row'>
            <div class='content_title'>
                <p>main</p>
            </div>
            <div class='hr'></div>
            <div class="swiper content_photo_container">
                <div class="left">
                    <i class="fas fa-angle-left fa-2x"></i>
                </div>
                <div class=' content_photo_picture_row swiper-wrapper'>
                    <!-- <div class='left_slider'>left</div> -->
                    <div class='swiper-slide content_photo_content'>1</div>
                    <div class='swiper-slide content_photo_content'>2</div>
                    <div class='swiper-slide content_photo_content'>3</div>
                    <div class='swiper-slide content_photo_content'>4</div>
                    <div class='swiper-slide content_photo_content'>5</div>
                    <div class='swiper-slide content_photo_content'>6</div>
                    <div class='swiper-slide content_photo_content'>7</div>
                    <div class='swiper-slide content_photo_content'>8</div>
                    <div class='swiper-slide content_photo_content'>8</div>
                </div>
                <div class="right" id="slider_right">
                    <i class="fas fa-angle-right fa-2x"></i>
                </div>
            </div>
        </div>
        <div class='content_about_row'>
            <div class='content_title'>
                <p>About</p>
                <div class="favorite_box" onclick="favorite()">
                    <i class="fas fa-star fa-3x" id="favorite_on" style="display: none;"></i>
                    <i class="far fa-star fa-3x" id="favorite_off"></i>
                </div>
                <div class="like_box" onclick="like()">
                    <i class="fas fa-heart fa-3x" id="like_on" style="display: none;"></i>
                    <i class="far fa-heart fa-3x" id="like_off"></i>
                </div>
            </div>
            <div class='hr'></div>
            <div class='content_about_content'>
                <div class='about_left_content'>
                    <div class='about_info_row'>
                        <div class='info_icon'>
                            <i class="fas fa-store"></i>
                        </div>
                        <p id="store_name">키친31</p>
                    </div>
                    <div class='about_info_row'>
                        <div class='info_icon'>
                            <i class="fas fa-map-marker-alt"></i>
                        </div>
                        <p id="store_address">서울특별시 서대문구 연세로4길 61</p>
                    </div>
                    <div class='about_info_row'>
                        <div class='info_icon'>
                            <i class="fas fa-phone"></i>
                        </div>
                        <p>02-999-9999</p>
                    </div>
                    <div class='about_info_row'>
                        <div class='info_icon'>
                            <i class="fas fa-utensils"></i>
                        </div>
                        <p>감자탕 냉면 만두 볶음밥</p>
                    </div>
                    <div class='about_info_row'>
                        <div class='info_icon'>
                            <i class="fas fa-dollar-sign"></i>
                        </div>
                        <p>평균 2만원대</p>
                    </div>
                    <div class='about_info_row'>
                        <div class='info_icon'>
                            <i class="far fa-calendar-alt"></i>
                        </div>
                        <p>연중 무휴</p>
                    </div>
                    <div class='about_info_row'>
                        <div class='info_icon'>
                            <i class="fas fa-address-card"></i>
                        </div>
                        <div class='store_bio'>
                            <p>둘이 먹다 죽어도 집!<br>
                                너무 맛있으니 다들 한번씩 들러주세요!!<br>
                                리뷰 이벤트 중입니다</p>
                        </div>
                    </div>
                </div>
                <div class='about_right_content'>
                    <div id="map" style="width:400px;height:400px;"></div>
                </div>
            </div>
        </div>
        <div class='content_comments_row'>
            <div class='content_title'>
                <p>Comments</p>
            </div>
            <div class='hr'></div>
            <div class='content_comment_wrap'>
                {% for comment in container %}

                <div class='comment_row'>
                    <div class='comment_profile'>
                        <img src='{{comment.avatar}}'>
                    </div>
                    <div class='comment_middle'>
                        <div class='comment_user_name'>
                            <p> {{comment.username}}  {{ forloop.counter0 }}</p>
                        </div>
                        <div class='hr' style=''></div>
                        <div class='comment_content'>
                            <p>
                                {{ comment.comment_content }}
                            </P>
                        </div>
                    </div>
                    <div class='comment_like' id="comment_{{ forloop.counter0 }}" onclick="comment_like(this.id)">
                        <div class='comment_like_box'>
                            <i class="fas fa-thumbs-up fa-3x comment_like_on" id='comment_{{ forloop.counter0 }}_on' style="display: none; color: white;"></i>
                            <i class="far fa-thumbs-up fa-3x comment_like_off" id='comment_{{ forloop.counter0 }}_off' style="display:flex; color: white;"></i>
                        </div>
                    </div>
                </div>
                {% endfor %}

                <div class='more_button' id="more_button" onclick="more(this.id)">
                    <div class='hr_more'></div>
                    <p>more</p>
                    <div class='hr_more'></div>
                </div>
            </div>
        </div>
        <div class='comment_write_box'>
            {% csrf_token %}
            <textarea class='comment_write_content' id="comment_text"></textarea>
            <button class='comment_write_button' onclick="write_comments()">작성</button>
        </div>
        <div class="swiper recommend_another">
            <div class="left" style="top:300px;">
                <i class="fas fa-angle-left fa-2x"></i>
            </div>
            <div class='swiper-wrapper recommend_wrap'>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
                <div class='swiper-slide recommend_card'></div>
            </div>
            <div class="right" style="top:300px;">
                <i class="fas fa-angle-right fa-2x"></i>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
{% endblock %}
{% block script %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/static/js/detail.js"></script>
{% endblock %}
