{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="/static/css/detail.css">
    <script src='/static/js/detail.js'></script>
{% endblock %}

{% block content %}
{#  <div class='content_photo_picture_row'>#}
{#    <!-- <div class='left_slider'>left</div> -->#}
{#    <div class='content_photo_content'>1</div>#}
{#    <div class='content_photo_content'>2</div>#}
{#    <div class='content_photo_content'>3</div>#}
{#    <div class='content_photo_content'>4</div>#}
{#    <div class='content_photo_content'>5</div>#}
{#    <div class='content_photo_content'>6</div>#}
{#    <!-- <div class='right_slider'>right</div> -->#}
{#    <div style='clear: both'></div>#}
{#  </div>#}
  <div class='wrap'>
    <div class='content_photo_row'>
      <div class='content_title'>
        <p>main</p>
      </div>
      <div class='hr'></div>
      <div class='content_photo_picture_row'>
        <!-- <div class='left_slider'>left</div> -->
        <div class='content_photo_content'>
            <img src="/static/img/333417_1640610154368611.jpg">
        </div>
        <div class='content_photo_content'>
            <img src="/static/img/333417_1640610154368611.jpg">
        </div>
        <div class='content_photo_content'>
            <img src="/static/img/333417_1640610154368611.jpg">
        </div>
        <!-- <div class='right_slider'>right</div> -->
        <div style='clear: both'></div>
      </div>
    </div>
    <div class='content_about_row'>
      <div class='content_title'>
        <p>About</p>
      </div>
      <div class='hr'></div>
      <div class='content_about_content'>
        <div class='about_left_content'>
          <div class='about_info_row'>
            <div class='info_icon'>
                <i class="fas fa-store"></i>
            </div>
            <p>오창동 남향짐</p>
          </div>
          <div class='about_info_row'>
            <div class='info_icon'>
                <i class="fas fa-map-marker-alt"></i>
            </div>
            <p>서울 특별시 강남구 동묘1길 232-99</p>
          </div>
          <div class='about_info_row'>
            <div class='info_icon'>
                <i class="fas fa-phone"></i>
            </div>
            <p>02-999-9999</p>
          </div>
          <div class='about_info_row'>
            <div class='info_icon'>
                <i class="fas fa-utensils"></i>
            </div>
            <p>감자탕 냉면 만두 볶음밥</p>
          </div>
          <div class='about_info_row'>
            <div class='info_icon'>
                <i class="fas fa-dollar-sign"></i>
            </div>
            <p>평균 2만원대</p>
          </div>
          <div class='about_info_row'>
            <div class='info_icon'>
                <i class="far fa-calendar-alt"></i>
            </div>
            <p>연중 무휴</p>
          </div>
          <div class='about_info_row'>
            <div class='info_icon'>아이콘!</div>
            <div class='store_bio'>
              <p>둘이 먹다 죽어도 집!</p>
              <p>너무 맛있으니 다들 한번씩 들러주세요!!</p>
              <p>리뷰 이벤트 중입니다</p>
            </div>
          </div>
        </div>
        <div class='about_right_content'>
          <div class='map'></div>
        </div>
      </div>
    </div>
    <div class='content_commnets_row'>
      <div class='content_title'>
        <p>Comments</p>
      </div>
      <div class='hr'></div>
      <div class='content_comment_wrap'>
        <div class='comment_row'>
          <div class='comment_profile'>
            <img src='/static/img/default.png'>
          </div>
          <div class='comment_middle'>
            <div class='comment_user_name'>
              <p> user name!</p>
            </div>
            <div class='hr' style=''></div>
            <div class='comment_content'>
              <p>일요일에 이대앞에 연 식당이 많지 않은데 여긴 브레이크도 없이 운영한다.
                가게 이름만큼 계란 요리가 맛있을것같아 시켰는데 맛있었다!
                예상가능 한 맛이긴 하지만! 포테이토 오믈렛은 안에 감자랑 토마토 시금치가 들어있다!
                그리고 하이토스트는 식빵 샐러드 소세지 베이컨 으로 무난한 조합들이고 배부르게 먹을수있다!
                오믈렛+하이토스트+오렌지 에이드 해서 27900원이다. 가끔 브런치 땡길때 종종 갈듯!
              </P>
            </div>
          </div>
          <div class='comment_like'>
            <div class='like_box'>
                <i class="fas fa-thumbs-up fa-3x" style="color: white;"></i>
            </div>
          </div>
        </div>
        <div class='comment_row'>
          <div class='comment_profile'>
            <img src='/static/img/default.png'>
          </div>
          <div class='comment_middle'>
            <div class='comment_user_name'>
              <p> user name!</p>
            </div>
            <div class='hr' style=''></div>
            <div class='comment_content'>
              <p>
                그리고 하이토스트는 식빵 샐러드 소세지 베이컨 으로 무난한 조합들이고 배부르게 먹을수있다!
                오믈렛+하이토스트+오렌지 에이드 해서 27900원이다. 가끔 브런치 땡길때 종종 갈듯!</P>
            </div>
          </div>
          <div class='comment_like'>
            <div class='like_box'>
                <i class="fas fa-thumbs-up fa-3x" style="color: white;"></i>
            </div>
          </div>
        </div>
        <div class='more_button'>
          <div class='hr_more'></div>
          <p>more</p>
          <div class='hr_more'></div>
        </div>

      </div>

    </div>
    <form class='comment_write_box'>
      <textarea class='comment_write_content'></textarea>
      <button class='comment_write_button'>작성</button>
    </form>
    <div class='recommend_wrap'>
      <div class='recommend_card'>
      </div>
      <div class='recommend_card'></div>
      <div class='recommend_card'></div>
    </div>
  </div>
{% endblock %}

