<div class="footer">
    <div class="footer_content">
        <div class="footer_content_settings">
            <div class="footer_setting_column">
                <p>자막 및 음성</p>
                <p>미디어 센터</p>
                <p>개인 정보</p>
                <p>문의 하기</p>
            </div>
            <div class="footer_setting_column">
                <p>음성 지원</p>
                <p>투자 정보(IR)</p>
                <p>법적 고지</p>
                <p>한국어/ 일본어/ 영어</p>
            </div>
            <div class="footer_setting_column">
                <p>고객 센터</p>
                <p>입사 정보</p>
                <p>쿠키 설정</p>
                <p> </p>
            </div>
            <div class="footer_setting_column">
                <p>기프트 카드</p>
                <p>이용 약관</p>
                <p>회사 정보</p>
                <p> </p>
            </div>
        </div>
        <div class="footer_setting_code">서비스 코드</div>
        <div class="footer_info">
            <p>넷플릭스서비시스코리아 유한회사 통신판매업신고번호: 제2018-서울구조-9999호 전화번호: 090-999-9999</p>
            <p>팀장: 김준형님</p>
            <p>이메일 주소: print@sparta.com</p>
            <p>주소: 대한민국 스파르타 게더, 공부방 2동 2층 9조 우편번호 99999</p>
            <p>사업자등록번호: 111-11-111111</p>
            <p>클라우드 호스팅: Amazon Web Services Inc.</p>
            <p>공정거래위원회 웹사이트</p>
            <p>비들기야 밥먹자!</p>
        </div>
    </div>
</div>