{% extends 'base.html' %}

{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static "css/home.css" %}?after"/>
    <link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css"/>
{% endblock %}

{% block content %}
    <div class="wrap">
        <div class="banner">
            <div class="search_box">
                <input type="text" class="search_box_text"/>
                <button class="search_box_button"> 검색</button>
            </div>
        </div>
        <div class="content_wrapper">
            <div class="recommend_row">
                <div class="recommend_title">
                    <p>오늘의 추천 목록!</p>
                </div>
                <div class="recommend_content" id="recommend_row">
                    <div class="left" id="slider_left">
                        <i class="fas fa-angle-left fa-3x"></i>
                    </div>
                    {% for a in container %}
                        <div class="recommend_card" id="store_{{ a.store }}">
                            {{ forloop.counter0 }}
                        </div>
                    {% endfor %}
                    <div class="right " id="slider_right">
                        <i class="fas fa-angle-right fa-3x"></i>
                    </div>
                </div>
            </div>
            <div class="recommend_row">
                <div class="recommend_title">
                    <p>넌 지금 야식이 땡긴다!</p>
                </div>
                <div class="mySwiper recommend_content">
                    <div class="left" style="display: flex">
                        <i class="fas fa-angle-left fa-3x"></i>
                    </div>
                    <div class="swiper-wrapper">
                        {% for a in container %}
                            <div class="swiper-slide recommend_card" id="store_{{ a.store }}" onmouseenter="zoomIn(event)">
                                {{ forloop.counter0 }}
                            </div>
                        {% endfor %}

                    </div>
                    <div class="right" id="slider_right">
                        <i class="fas fa-angle-right fa-3x"></i>
                    </div>
                </div>

            </div>
            <div class="recommend_row">
                <div class="recommend_title">
                    <p>츄라이! 츄라이!</p>
                </div>
                <div class="recommend_content">

                    {% for a in container %}
                        <div class="recommend_card" id="store_{{ a.store }}"></div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script src="/static/js/home.js"></script>

{% endblock %}