{% extends 'base.html'%}
{% block title %}로그인 페이지{% endblock %}
{% block head%}
<link rel="stylesheet" href="/static/css/login.css"> <!--css적용파일-->
{% endblock %}

{% block content%}
    <div id = "main-container">
        <div id ="logo-div"><!--로고는 백그라운드로 들어감.-->
        </div>
        <div id="contents-box">
            <form method="post" action="sign-in/">
                <div class="name_to_password">
                    <p class="left-words">아이디</p>
                    <input type="text" class="input_box" name="id" placeholder="아이디를 입력하세요">
                </div>
                <div class="name_to_password">
                    <p class="left-words">비밀번호</p>
                    <input type="password" class="input_box" name="password" placeholder="비밀번호를 입력하세요">
                </div>
                <div id="finds">
                    <a class="find" href="find-id/">아이디찾기</a> / <a class= "find" href="find-pw/">비밀번호 찾기</a>
                </div>
                <div id="btns">
                    <a id="join" href="sign-up/">회원가입</a><!--얘누르면 /sing-in/sign-up이됨..-->
                    <button type="submit" id="login">로그인</button>
                </div>
            </form>
        </div>
    </div>

{% endblock %}