{% extends 'base.html'%}
{% block title %}프로필페이지{% endblock %}


{% block head%}
<link rel="stylesheet" href="/static/css/profile.css"> <!--css적용파일-->
<script type="text/javascript" src="/static/js/profile.js"></script><!--js적용파일-->
{% endblock %}

{% block content%}
    <div id="main_container">
        <div id="user_wrapper">
            <div id="profile">
                <img id="image" src="/static/img/default.png">
                <br>
                <p>사진변경</p> <!--프로필변경부분 연구후 수정할것-->
            </div>
            <div class="user_desc">
                <p>{{ username }}님</p>
                <div class="counts">
                    <p class="count"> 좋아요 누른 가게 수: n개</p><br>
                    <p class="count"> 작성한 댓글 수: n개 </p>
                </div>
            </div>
        </div>
        <p class="box_title">username님의 즐겨찾기</p> <!--얘가 틀이잡히면 좋아요도 같은방식-->
        <div id="pick_contents_container">
        {% if favorite_Store.count == 0 %}
             <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg"><!--대표사진-->
                </div>
                <div id="store_desc_wrapper">
                    <p id="store_name" class="s_name">아직 즐겨찾기한 가게가 없어요</p>
                    <div class="desc-box">
                        <div class="left_desc">
                            <p id="store_address" class="descs">아래에 있는 추천항목들을 살펴보는건 어떨까요?</p>
                        </div>
                    </div>
                    <div id="tags"><!--얘도조건문 쓰자!-->
                            <p id="tag"># 추천 </p>
                    </div>
                </div>
            {% for f_store in favorite_Store %}
                <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg"><!--대표사진-->
                </div>
                <div id="store_desc_wrapper">
                    <p id="store_name" class="s_name">{{ f_store.store_name }}</p>
                    <div class="desc-box">
                        <div class="left_desc">
                            <p id="store_address" class="descs">주소: {{ f_store.address }}</p>
                            {% if f_store.phone_num is not None %}<!--빈값이 어떻게 넘어오는지 확인-->
                            <p id="store_phonenum"  class="descs">전화번호 : {{ f_store.phone_num }}</p>
                            {% endif %}
                            <p id="price" class="descs">가격대: {{ store.price_range }}</p>
                        </div>
                        <div class="right_desc">
                            {% if store.operating_time == '' and store.menu == ''%}
                                <p id="store_worktime" class="descs"> 운영시간:운영시간 정보가 없습니다.</p>
                                <p id="menu" class="descs"> 메뉴 : 메뉴정보가 없습니다.</p>
                            {% elif store.menu == '' %}
                                <p id="store_worktime" class="descs">운영시간:{{ store.operating_time}}</p>
                                <p id="menu" class="descs">메뉴: 메뉴정보가 없습니다.</p>
                            {% elif  store.operating_time == '' %}
                                <p id="store_worktime" class="descs">운영시간: 운영시간 정보가 없습니다.</p>
                                <p id="menu" class="descs">메뉴: {{ store.menu }}</p>
                            {% else %}
                                <p id="store_worktime" class="descs">운영시간:{{ store.operating_time}}</p>
                                <p id="menu" class="descs">메뉴: {{ store.menu }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="tags"><!--얘도조건문 쓰자!-->
                            <p id="tag"># 음식분류</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>

        </div>
        <p class="box_title">username님이 좋아요 누른 가게</p> <!--얘가 틀이잡히면 좋아요도 같은방식-->
        <div id="pick_contents_container">
        {% if favorite_Store.count == 0 %}
             <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg"><!--대표사진-->
                </div>
                <div id="store_desc_wrapper">
                    <p id="store_name" class="s_name">아직 좋아요를 누른 가게가 없어요</p>
                    <div class="desc-box">
                        <div class="left_desc">
                            <p id="store_address" class="descs">아래에 있는 추천항목들을 살펴보는건 어떨까요?</p>
                        </div>
                    </div>
                    <div id="tags"><!--얘도조건문 쓰자!-->
                            <p id="tag"># 추천 </p>
                    </div>
                </div>
            {% for store in stores %}
                <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg"><!--대표사진-->
                </div>
                <div id="store_desc_wrapper">
                    <p id="store_name" class="s_name">{{ store.store_name}}</p>
                    <div class="desc-box">
                        <div class="left_desc">
                            <p id="store_address" class="descs">주소: {{ store.address }}</p>
                            <p id="store_phonenum"  class="descs">전화번호 : {{ store.phone_num }}</p>
                            <p id="price" class="descs">가격대: {{ store.price_range }}</p>
                        </div>
                        <div class="right_desc">
                            {% if store.operating_time == '' and store.menu == ''%}
                                <p id="store_worktime" class="descs"> 운영시간:운영시간 정보가 없습니다.</p>
                                <p id="menu" class="descs"> 메뉴 : 메뉴정보가 없습니다.</p>
                            {% elif store.menu == '' %}
                                <p id="store_worktime" class="descs">운영시간:{{ store.operating_time}}</p>
                                <p id="menu" class="descs">메뉴: 메뉴정보가 없습니다.</p>
                            {% elif  store.operating_time == '' %}
                                <p id="store_worktime" class="descs">운영시간: 운영시간 정보가 없습니다.</p>
                                <p id="menu" class="descs">메뉴: {{ store.menu }}</p>
                            {% else %}
                                <p id="store_worktime" class="descs">운영시간:{{ store.operating_time}}</p>
                                <p id="menu" class="descs">메뉴: {{ store.menu }}</p>
                            {% endif %}
                        </div>
                    </div>
                    <div id="tags"><!--얘도조건문 쓰자!-->
                            <p id="tag"># 음식분류</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>

        </div>
        <p class="box_title">이런 가게들은 어때요?</p>
        <div id="recommend_container"><!--추천박스-->
            {% for rd_store in random_store %}
            <div class="box">
                <div class="recommend_imgbox" ><!--추천맛집 div가 두개 하나는 사진 하나는 가게정보-->
                    <img id="recommend_img"  class="rcm_img" src="{{rd_store.pic.0}}">
                </div>
                <div class="recommend_descbox">
                    <p class="s_descs">가게이름:{{ rd_store.store_name }}</p>
                    <p class="s_descs">주소:{{ rd_store.address }}</p>
                    <p class="s_descs">가격대:</p>
                    <p class="s_descs">음식종류:</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
{% include 'footer.html' %}
{% endblock %}

<script src="/static/js/base.js"></script> <!--js적용파일-->
<script src="https://kit.fontawesome.com/8c1045b6d4.js" crossorigin="anonymous"></script>