{% extends 'base.html'%}
{% block title %}프로필페이지{% endblock %}


{% block head%}
<link rel="stylesheet" href="/static/css/profile.css"> <!--css적용파일-->
{% endblock %}

{% block content%}
    <div id="main_container">
        <div id="user_wrapper">
            <div id="profile">
                <img id="image" src="/static/img/default.png">
                <p>사진변경</p> <!--프로필변경부분 연구후 수정할것-->
            </div>
            <div class="user_desc">
                <p>username님</p>
                <div class="counts">
                    <p class="count"> 좋아요 누른 가게 수: n개</p>
                    <p class="count"> 작성한 댓글 수: n개 </p>
                </div>
            </div>
        </div>
        <p id="user_pick">username님의 픽</p>
        <div id="pick_contents_wrapper"><!--조건문쓰자~ 3개이상일때, 3개보다 작을때-->
            <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg">
                </div>
                <div id="store_desc_box">
                    <p id="store_name">가게이름</p>
                    <p id="store_address" class="left_desc">주소: 00시 00구</p>
                    <p id="food_type" class="left_desc">음식종류: 이탈리안</p>
                    <p id="price" class="left_desc">가격대: n만원대</p>
                </div>
            </div>
            <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg">
                </div>
                <div id="store_desc_box">
                    <p id="store_name">가게이름</p>
                    <p id="store_address" class="left_desc">주소: 00시 00구</p>
                    <p id="food_type" class="left_desc">음식종류: 이탈리안</p>
                    <p id="price" class="left_desc">가격대: n만원대</p>
                </div>
            </div>
            <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg">
                </div>
                <div id="store_desc_box">
                    <p id="store_name">가게이름</p>
                    <p id="store_address" class="left_desc">주소: 00시 00구</p>
                    <p id="food_type" class="left_desc">음식종류: 이탈리안</p>
                    <p id="price" class="left_desc">가격대: n만원대</p>
                </div>
            </div>
            <div id="store_box">
                <div id="img_box">
                    <img id="store_img" src="/static/img/d.jpg">
                </div>
                <div id="store_desc_box">
                    <p id="store_name">가게이름</p>
                    <p id="store_address" class="left_desc">주소: 00시 00구</p>
                    <p id="food_type" class="left_desc">음식종류: 이탈리안</p>
                    <p id="price" class="left_desc">가격대: n만원대</p>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% include 'footer.html' %}
<script src="/static/js/base.js"></script> <!--js적용파일-->
<script src="https://kit.fontawesome.com/8c1045b6d4.js" crossorigin="anonymous"></script>