{% extends 'base.html'%}
{% block title %}회원가입{% endblock %}
{% block head%}
<link rel="stylesheet" href="/static/css/sign-up.css"> <!--css적용파일-->

<script type="text/javascript" src="/static/js/sign-up.js"></script>
{% endblock %}

{% block content%}
    <div id="box1">
    </div>
    <div id = "main-container">
        <div id ="logo-div">
        </div>
        <div id="contents-box">
            <form method="post" action="/user/sign-in/">
                {% csrf_token %}
                <div class="name_to_password">
                    <p class="left-words">이름</p>
                    <input type="text" class="input_box" name="username" placeholder="이름을 입력하세요">
                </div>
                <div class="name_to_password">
                    <p class="left-words">아이디</p>
                    <input type="text" class="input_box" name="id" placeholder="사용할 아이디를 입력하세요">
                </div>
                <div class="name_to_password">
                    <p class="left-words">비밀번호</p>
                    <input type="password" class="input_box" name="password" placeholder="사용할 비밀번호를 입력하세요">
                </div>
                <div class="name_to_password">
                    <p class="left-words">비밀번호 확인</p>
                    <input type="password" class="input_box" name="password2" placeholder="비밀번호를 한번더 입력하세요">
                </div>
                <div class="name_to_password">
                    <p class="left-words">이메일</p>
                    <input type="email" class="input_box" name="email" placeholder="이메일 입력하세요">
                </div>
                <p class="optional">당신의 허리사이즈를 inch로 환산하시오.(선택사항)</p>
                <input type="text" class="inch-input" name="optional" value="">
                <p class="optional">당신이 좋아하는 음식종류는?(다중선택가능)</p>
                <div id="checkbox_wrapper">
                <!--name 어떻게 할지 정해야 할듯.-->
                    <input class="check" type="checkbox" name="food" value="한식"> 한식
                    <input class="check" type="checkbox" name="food" value="중식"> 중식 <br>
                    <input class="check" type="checkbox" name="food" value="일식"> 일식
                    <input class="check" type="checkbox" name="food" value="이탈리안"> 이탈리안<br>
                    <input class="check" type="checkbox" name="food" value="국수"> 국수
                    <input class="check" type="checkbox" name="food" value="고기"> 고기 요리
                </div>
                <button type="submit" id="join">회원가입</button>
            </form>
        </div>
    </div>

{% endblock %}
